
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">

    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <img class="nav-logo" src="/img/hatch-garage1-white.png">
        <!-- <a id="nav-hatch-title" class="navbar-brand mr-auto" href="/">
            Hatch Garage
        </a> -->
    </div>
    <div class="mx-auto order-0">
        <!-- <a id="nav-hatch-title" class="navbar-brand mx-auto" href="/">Hatch Garage</a> -->
        <!-- <img class="nav-logo" src="/img/hatch-garage1-white.png"> -->

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto " style="align-items: center;">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/ea">EA</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/api">API</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Innovation">Innovation</a>
            </li>
            <li class="nav-item active">
                <!-- <a id="nav-schedule" class="nav-link" href="/contact">Schedule</a> -->
                <a   class="nav-link" href="/contact" >Booking</a>
            </li>
        </ul>
    </div>
</nav>
