<!-- <nav class="navbar" style="background-color: blue">
    <a class="navbar-brand" href="#">Navbar</a>
</nav> -->
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <img class="nav-logo" src="/img/logobw.png">
    <!-- <a class="navbar-brand" href="#">Carousel</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/api">API</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Innovation">Innovation</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/ea">EA</a>
            </li>
        </ul>
        <h2 class="nav-title">ACG Labs and Innovation</h2>

    </div>
</nav>
