<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ./components/head %>
    </head>
    <body>
        <% include ./components/navbar %>
        <h1>ACG Labs and Innovation</h1>
        <br>
        <a href="#" class="btn btn-primary">YEET</a>


        <script type="text/javascript" src='/js/index.js'></script>
    </body>
</html>
