<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ./components/head %>
    </head>
    <body>
        <% include ./components/navbar %>
        <br>


<main role="main">

  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div id="particles-js">
      <div class="carousel-item active">
        <!-- <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"/></svg> -->

            <div class="container">
              <div class="carousel-caption  h-50 align-items-center justify-content-center">
                <h1>Create your next API.</h1>
                <p>Increase the efficiency of communication in computing systems by making that data available on-demand by sharing references instead of the complete copy of the data itself.</p>
                <p><a class="btn btn-lg btn-info" href="/api" role="button">Sign up today</a></p>
              </div>
            </div>

      </div>
      <div class="carousel-item">
        <!-- <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"/></svg> -->
        <div id="particles-js2">
            <div class="container">
              <div class="carousel-caption ">
                <h1>Cultivate your latest ideas in our Innovation Lab.</h1>
                <p>Blending strategy and creative exploration to solve todays challenges and future opportunities. Change	the	game	and generate	significant	new value for consumers, customers and the company.</p>
                <p><a class="btn btn-lg btn-info" href="/innovation" role="button">Sign up today</a></p>
              </div>
            </div>
        </div>
      </div>
      <div class="carousel-item">
        <!-- <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"/></svg> -->
        <div class="container">
          <div class="carousel-caption">
            <h1>Scale up you next big project with Enterprise Architecture.</h1>
            <p>Achieve neccessary collaboration among organizational silos in order to deliver upon strategy by providing the insight needed to support innovation efforts across the business.</p>
            <p><a class="btn btn-lg btn-info" href="/ea" role="button">Sign up today</a></p>
          </div>
        </div>
      </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <!-- <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg> -->
        <img src="/img/api.png" class="rounded-circle"  width="140" height="140" alt="API">
        <h2>APIs</h2>
        <p> Increase the efficiency of communication in computing systems by making that data available on-demand by sharing references instead of the complete copy of the data itself.</p>
        <p><a class="btn btn-secondary" href="/api" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <!-- <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg> -->
        <img src="/img/light-bulb.png" class="rounded-circle"  width="140" height="140" alt="API">
        <h2>Innovation</h2>
        <p>Blending strategy and creative exploration to solve todays challenges and future opportunities.  Change	 the	 game	 and	 generate	 significant	 new
                value for consumers, customers and the company.</p>
        <p><a class="btn btn-secondary" href="/innovation" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <!-- <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg> -->
        <img src="/img/ea.png" class="rounded"  width="140" height="140" alt="API">
        <h2>Enterprise Architecture</h2>
        <p>Achieve neccessary collaboration among organizational silos in order to deliver upon strategy by providing the insight needed to support innovation efforts across the business.</p>
        <p><a class="btn btn-secondary" href="/ea" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <!-- <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It’ll blow your mind.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
      <div class="col-md-5">
        <img src="/img/api-featurette.png" alt="API featurette">
      </div>
    </div>
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
      <div id="innovtion-featurette-img"class="col-md-5 order-md-1">
        <img src="/img/innovation-featurette.jpg" alt="Innovation featurette">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
        <p class="lead">Achieve neccessary collaboration among organizational silos in order to deliver upon strategy by providing the insight needed to support innovation efforts across the business.</p>
      </div>
      <div class="col-md-5">
        <img src="/img/enterprise-architecture.png" alt="Enterprise Architecture featurette">
      </div>
    </div>

    <hr class="featurette-divider">
    -->
    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->


  <!-- FOOTER -->
  <footer class="container">
    <p class="float-right"><a href="#">Back to top</a></p>

    <p>&copy; <script type="text/javascript"> var today = new Date(); var year = today.getFullYear(); document.write(year); </script>
         Auto Club Group <!--&middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a>--></p>
  </footer>
</main>
<script type="text/javascript" src='/js/index.js'></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script><script src="/docs/4.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
      <script type="text/javascript" src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script>
  particlesJS.load('particles-js', '/js/particles.json', function(){
    console.log('particles.json loaded');
  })
</script>
  </body>
</html>
