<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ./components/head %>
    </head>
    <body>
        <% include ./components/navbar %>

<main role="main">

  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner">
      <div id="particles-js">
          <div class="carousel-item carousel-index active">
            <div class="container">
              <div class="carousel-caption  ">
                <h1>Insurance</h1>
                <p>Drives digital transformation by building the blueprint that defines the digital structure, operation, and fabric of the Auto Club Group, which bridges the divide between I/T and the business.</p>
              </div>
            </div>
          </div>
      <div class="carousel-item carousel-index">

            <div class="container">
              <!-- <div class="carousel-caption  h-50 align-items-center justify-content-center"> -->
              <div class="carousel-caption  ">
                <h1>Roadside Assistance</h1>
                <p>Connecting devices, system, and data which unlocks new business potential, which are the building blocks of innovation and business agility.</p>
              </div>
            </div>

      </div>
      <div class="carousel-item carousel-index">
        <div id="particles-js2">
            <div class="container">
              <div class="carousel-caption ">
                <h1>Membership</h1>
                <p>The catalyst for the growth for implementing new ideas, creating dynamic products, and improving  ACG services which help adapt and grow in the marketplace.</p>
              </div>
            </div>
        </div>
      </div>
      <div class="carousel-item carousel-index">
        <div id="particles-js2">
            <div class="container">
              <div class="carousel-caption ">
                <h1>Travel</h1>
                <p>The catalyst for the growth for implementing new ideas, creating dynamic products, and improving  ACG services which help adapt and grow in the marketplace.</p>
              </div>
            </div>
        </div>
      </div>
      <div class="carousel-item carousel-index">
        <div id="particles-js2">
            <div class="container">
              <div class="carousel-caption ">
                <h1>Banking</h1>
                <p>The catalyst for the growth for implementing new ideas, creating dynamic products, and improving  ACG services which help adapt and grow in the marketplace.</p>
              </div>
            </div>
        </div>
      </div>

      </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row justify-content-around">
        <div class="col-lg-2">
          <img src="/img/insurance-blue.png" class="rounded"  width="140" height="140" alt="Insurance">
          <h2>Insurance</h2>
          <p>Drives digital transformation by building the blueprint that defines the digital structure, operation, and fabric of the Auto Club Group, which bridges the divide between I/T and the business.</p>
          <p><a class="btn btn-blue" href="/ea" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      <div class="col-lg-2">
        <img src="/img/automotive-blue.png" class="rounded"  width="140" height="140" alt="Roadside Assistance">
        <h2>Automotive</h2>
        <p>Connecting devices, system, and data which unlocks new business potential, which are the building blocks of innovation and business agility.</p>
        <p><a class="btn btn-blue" href="/api" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-2">
        <img src="/img/membership-blue.png" class="rounded"  width="140" height="140" alt="Membership">
        <h2>Membership</h2>
        <p>The catalyst for the growth for implementing new ideas, creating dynamic products, and improving  ACG services which help adapt and grow in the marketplace.</p>
        <p><a class="btn btn-blue" href="/innovation" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-lg-2">
        <img src="/img/travel-blue.png" class="rounded"  width="140" height="140" alt="Travel">
        <h2>Travel</h2>
        <p>The catalyst for the growth for implementing new ideas, creating dynamic products, and improving  ACG services which help adapt and grow in the marketplace.</p>
        <p><a class="btn btn-blue" href="/innovation" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-lg-2">
        <img src="/img/banking-blue.png" class="rounded"  width="140" height="140" alt="Banking">
        <h2>Banking</h2>
        <p>The catalyst for the growth for implementing new ideas, creating dynamic products, and improving  ACG services which help adapt and grow in the marketplace.</p>
        <p><a class="btn btn-blue" href="/innovation" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->

    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->


    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->


  <!-- FOOTER -->
  <footer class="container">
    <p class="float-right"><a href="#">Back to top</a></p>

    <p>&copy; <script type="text/javascript"> var today = new Date(); var year = today.getFullYear(); document.write(year); </script>
         Auto Club Group <!--&middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a>--></p>
  </footer>
</main>
<script type="text/javascript" src='/js/index.js'></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script><script src="/docs/4.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
      <script type="text/javascript" src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script>
  particlesJS.load('particles-js', '/js/particles.json', function(){
    console.log('particles.json loaded');
  })
</script>
  </body>
</html>
