<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ./components/head %>
    </head>
    <body>
        <% include ./components/navbar %>
        <br>


<main role="main">


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">
     <!-- START THE FEATURETTES -->

     <!-- <hr class="featurette-divider"> -->

    <!-- <div class="animation" >
     <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
      <div id="innovation-featurette-img" class="col-md-5 order-md-1">
        <img src="/img/innovation-featurette.jpg" alt="Innovation featurette">
      </div>
    </div> -->

    <!-- <hr class="featurette-divider"> -->
    <!-- /END THE FEATURETTES -->
  </div>
  <!-- /.container -->

  <div class="container innovation-container">
    <div class="row justify-content-center my-row">
      <div id="r1c1" class="col-2 my-col">Idea Jam</div>
      <div id="r1c2" class="col-4 my-col text-center">Submit an Idea</div>
      <div id="r1c3" class="col-2 my-col">Black Box Program</div>
    </div>
    <div class="row my-row">
      <div class="col my-col left-col text-center">
            <div id="r2c1" class="col my-col ">Hackathon</div>
            <div id="r2c1b" class="col my-col ">University Outreach</div>
      </div>
      <div id="r2c2"class="col my-col">
        <img src="/img/innovation-vector-light-bulb.jpg" alt="">
      </div>
      <div id="r2c3" class="col my-col text-center">Design Thinking Workshop</div>
    </div>
    <div class="row justify-content-center my-row">
      <div id="r3c1" class="col-2 my-col">Patents</div>
      <div id="r3c2" class="col-4 my-col text-center">Find Startup</div>
      <div id="r3c3" class="col-2 my-col">Review Research</div>
    </div>
  </div>


  <!-- FOOTER -->
  <footer class="container">
    <p class="float-right"><a href="#">Back to top</a></p>

    <p>&copy; <script type="text/javascript"> var today = new Date(); var year = today.getFullYear(); document.write(year); </script>
         Auto Club Group <!--&middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a>--></p>
  </footer>
</main>
<script type="text/javascript" src='/js/index.js'></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script><script src="/docs/4.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
      <script type="text/javascript" src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script>
  particlesJS.load('particles-js', '/js/particles.json', function(){
    console.log('particles.json loaded');
  })
</script>
  </body>
</html>
