<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./components/head %>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" </head> <body>
    <% include ./components/navbar %>

    <main role="main">


        <!-- Marketing messaging and featurettes
  ================================================== -->
        <!-- Wrap the rest of the page in another container to center all the content. -->

        <div class="container marketing">
            <!-- START THE FEATURETTES -->

            <!-- <hr class="featurette-divider"> -->

            <!-- <div class="animation">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
                    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
                </div>
                <div id="innovation-featurette-img" class="col-md-5 order-md-1">
                    <img src="/img/innovation-featurette.jpg" alt="Innovation featurette">
                </div>
            </div> -->

            <!-- <hr class="featurette-divider"> -->
            <!-- /END THE FEATURETTES -->

            <!-- /.container -->

            <div class="container innovation-container">
                <div class="row justify-content-center my-row">
                    <div id="r1c1" class="col-2 my-col">
                        <p>Idea Jam</p>
                    </div>
                    <div id="r1c2" class="col-4 my-col text-center">
                        <p>Submit an Idea</p>
                    </div>
                    <div id="r1c3" class="col-2 my-col">
                        <p>Black Box</p>
                        <p>Program</p>
                    </div>
                </div>
                <div class="row my-row">
                    <div class="col my-col left-col">
                        <div id="r2c1a" class="col text-center">
                            <p>Hackathon</p>
                        </div>
                        <div id="r2c1b" class="col">
                            <p>University Outreach</p>
                        </div>
                        <div id="r2c1c" class="col ">
                            <p>Lab Research</p>
                        </div>
                        <div id="r2c1d" class="col text-center">
                            <p>Innovation Networking</p>
                        </div>
                    </div>
                    <div id="r2c2" class="col my-col">
                        <img src="/img/light-bulb-deck-grey-whole.png" height="325" alt="">
                    </div>
                    <br>
                    <div class="col my-col left-col">
                        <div id="r2c3a" class="col text-center">
                            <p>Find Experiments</p>
                        </div>
                        <div id="r2c3b" class="col text-center">
                            <p>Work On Experiments</p>
                        </div>
                        <div id="r2c3c" class="col my-col text-center">
                            <p>Design Thinking Workshop</p>
                        </div>
                        <div id="r2c3d" class="col text-center">
                            <p>Lunch And Learn</p>
                        </div>
                    </div>

                </div>
                <div class="row justify-content-center my-row">
                    <div id="r3c1" class="col-2 my-col">
                        <p>Patents</p>
                    </div>
                    <div id="r3c2" class="col-4 my-col text-center">
                        <p>Find Startup</p>
                    </div>
                    <div id="r3c3" class="col-2 my-col">
                        <p>Review Research</p>
                    </div>
                </div>
                <div class="row justify-content-center my-row">
                    <a href="/contact" class="btn btn-info btn-lg" role="button">Schedule your next event!</a>
                </div>
            </div>

            <!-- <input class="btn btn-success" type="submit" value="Schedule your next event!" href="/contact"> -->
        </div>

        <!-- FOOTER -->
        <footer class="container">
            <p class="float-right"><a href="#">Back to top</a></p>

            <p>&copy; <script type="text/javascript">
                    var today = new Date();
                    var year = today.getFullYear();
                    document.write(year);
                </script>
                Auto Club Group
                <!--&middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a>-->
            </p>
        </footer>
    </main>
    <script type="text/javascript" src='/js/index.js'></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>
        window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')
    </script>
    <script src="/docs/4.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script>
        particlesJS.load('particles-js', '/js/particles.json', function() {
            console.log('particles.json loaded');
        })
    </script>
    </body>

</html>
