.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.nav-logo{
    height: 65px;
    width: 150px;
}
.nav-title{
    margin: auto;
    padding: auto;
    color:#ffffff;

}

.mx-auto .order-0{
    font-size: 24px;
}

#nav-hatch-title{
    font-size: 28px;
}

#nav-schedule{
    color: #169eb4;
    font-size: 20px;

}
#particles-js{
  background: grey;
  height: 600px;
}

.particles-js-canvas-el {
    position: relative;
    z-index: 10;
}

.carousel-index {
    position: relative;
    z-index: 5;
}

.carousel-caption{
  color: black;
  /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
}

.animation{
    height: 700px;
}

#innovation-featurette-img{
    margin: 0 auto;
}

.innovation-container{
    margin-top: 30px;
    font-family: 'Roboto', sans-serif;
    font-size:  24px;
    font-weight: 600;
}

#r1c1 {
    font-family: 'Roboto', sans-serif;
    opacity: 0;
    animation: cssAnimation 0.2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
#r1c2 {
    opacity: 0;
    animation: cssAnimation 0.4s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
#r1c3 {
    opacity: 0;
    animation: cssAnimation 0.6s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
#r2c3a {

    margin: auto;
    opacity: 0;
    animation: cssAnimation 0.8s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
#r2c3b {
    text-align: right;
    opacity: 0;
    animation: cssAnimation 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
#r2c3c {
    margin: auto;
    opacity: 0;
    animation: cssAnimation 1.2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
#r2c3d {
    margin: auto;
    opacity: 0;
    animation: cssAnimation 1.4s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
#r3c3 {
    opacity: 0;
    animation: cssAnimation 1.6s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
#r3c2 {
    opacity: 0;
    animation: cssAnimation 1.8s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
#r3c1 {
    opacity: 0;
    animation: cssAnimation 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
#r2c1a {
    margin: auto;
    opacity: 0;
    animation: cssAnimation 2.8s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
#r2c1b {
    margin: auto;
    opacity: 0;
    animation: cssAnimation 2.6s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
#r2c1c {
    margin: auto;
    opacity: 0;
    animation: cssAnimation 2.4s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
#r2c1d {
    margin: auto;
    opacity: 0;
    animation: cssAnimation 2.2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
#r2c2{
    margin-bottom: 40px;
}

.col-center {
    justify-content: center;
    align-self: center;
    flex-direction: column;
    text-align: center;
}

@keyframes cssAnimation {
    99% {
        opacity: 0;
    }
    /* 25%{
        opacity: 0.25;
    }
    50%{
        opacity: 0.5;
    }
    75%{
        opacity: 0.75;
    } */
    100% {
        opacity: 1;
    }
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }

  .left-col{
      display:flex;
      flex-direction: column;
      justify-content: space-evenly;
      /* align-items: space-around; */
  }



  .contact-form-container{
     /* margin: 0 auto; */
     width: 33vw;
      margin-top: 50px;
      margin-left: 50px;
  }

  #contact-us-img{
      width: 100vw;
  }
}
