.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.nav-logo{
    height: 65px;
    width: 100px;
}
.nav-title{
    margin: 0 auto;
    color:#ffffff;
}

#particles-js{
  background: grey;
  height: 600px;
}

.carousel-caption{
  color: black;
  /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
}

#innovtion-featurette-img{
    margin-top: 50px;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
